
:root
{
    --primary: rgb(163, 0, 52);
}
*
{
    box-sizing:border-box;
}

body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/3793816/pexels-photo-3793816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

h1
{
 font-size: xx-large;
}
#roomId
{
    width: 20rem;
    height: 2.5rem;
    border-radius: 100vw;
    text-align: center;
    color: var(--primary);
}
.join
{
display: block;
}

.btn
{
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--primary);
    border-radius: 100vh;
    padding: 1rem 3rem;
    transition: background-color 0.2s ease-in;
}

.join
{
    margin-top:2.5rem
}

#or
{
    margin: 1.1rem 0rem;
}
#leading-line
{
    padding: 0rem 15rem;
}

.btn:hover
{
    background-color: rgb(102, 0, 32);
}

@media(max-width:1000px)
{
    body{
      
       background-size: cover;
       background-position: center center;
    }
    #leading-line
    {
        padding: 0rem 3rem;
    }


}

@media(max-width: 320px)
{
    #leading-line
    {
        padding: 0;
        margin:0;
        font-size: small;
    }
}