
.nav-bar
{
    width: 100vw;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    justify-content: space-between;
}

.nav-brand
{
    font-size: 1.8rem;
    font-weight: bolder;
    margin: 1.1rem 0.9rem;
    color: var(--primary);
}
.nav-links
{
    margin: 0.7rem 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

a
{
    text-decoration: none;
    color: white;
}
.nav-item
{
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.4s ease-in;
}

#item-2
{
    background-color: var(--primary);
 border-radius: 100vh;
}
.nav-item:hover
{
 background-color: var(--primary);
 border-radius: 100vh;
}


.hamburger-btn
{
    position: absolute;
    top: 1rem;
    right: 2.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.stripe
{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

@media(max-width:600px)
{
    .hamburger-btn
    {
        display: flex;
    }
   .nav-links
    {
        display: none;
        width: 100%;
    }

    .nav-links.active
    {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    }

    .nav-item
    {
      margin: 0.7rem 0rem;
    }

    .nav-bar
    {
        flex-direction: column;

    }
}




